DATABASE_URL="postgresql://postgres.nbfuwoxfvvahnadwsfrl:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.nbfuwoxfvvahnadwsfrl:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

# FundX API (Event Service)
FUNDX_API_URL="https://backend-fundx.onrender.com"

# JWT
JWT_SECRET="your-secret-key-here"
